<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>О проекте</title>

</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="#">Главная<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" th:href="@{/app/publications}">Публикации</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" th:href="@{/app/pages}">Статьи</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" th:href="@{/app/about}">О нас</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br>
<div class="container">
    <h6>Тема проекта: Функционирование киберфизических систем и их разработка </h6>
    <p>
        Данное веб-приложение представляет собой интерфейс пользователя для обращения к БД со статьями и публикациями.
    </p>
    <p>
        <h6>Источники данных: </h6>
        <ul>
            <li>Источник публицаций: <a href="https://scholar.google.com/" target="_blank">Google Scholar</a></li>
            <li>Источник статей: <a href="https://www.google.com/" target="_blank">Поисковый движок Google</a></li>
        </ul>
        <i><b>Примечание:</b> Первый поддерживает только английский язык поиска. Второй как английский так и русский языки.</i>
    </p>
    <p>
        <h6>Используемые технологии:</h6>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Технология</th>
                <th>Применение</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Java и <a href="https://spring.io/" target="_blank">фреймворк</a></td>
                <td>Реализация основной фунциональности приложения</td>
            </tr>
            <tr>
                <td>Python и <a href="https://github.com/ckreibich/scholar.py" target="_blank">библиотека</a></td>
                <td>Извлечение данных из Google Scholar</td>
            </tr>
            <tr>
                <td>Движок СУБД: <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></td>
                <td>Хранение данных</td>
            </tr>
            <tr>
                <td><a href="https://aws.amazon.com/ru/" target="_blank">Amazon Web Services</a></td>
                <td>Развертывание БД и веб-приложения</td>
            </tr>
            <tr>
                <td><a href="https://developers.google.com/custom-search" target="_blank">Google Custom Search</a></td>
                <td>Поиск статей посредством движка Google</td>
            </tr>
            <tr>
                <td><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></td>
                <td>Стилизация веб-приложения</td>
            </tr>
            </tbody>
        </table>
    </p>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>