<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Публикации</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(function () {
			$('#key-words').change(function () {
				var selected = $('#key-words').val();
				var authorsControl = $('#authors');
				authorsControl.prop("disabled", true);
				alert(selected);
				var html = "<option value='0' id='default-ats'>Все</option>";
				for (var i = 0; i < selected.length; i++) {
					html += "<option value='" + selected[i] + "'>" + selected[i] + "</option>";
				}
				authorsControl.html(html);
				authorsControl.prop("disabled", false);
			});
			$('#default-ats').click(function () {
				$('#authors option').prop("selected", false);
				$('#default-ats').prop("selected", true);
			})
		});
	</script>
</head>

<body>
<div class="container">
	<nav class="navbar navbar-expand-md navbar-light bg-light bg-dark">
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link text-primary" th:href="@{/app}">Главная<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary" href="#">Публикации</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary" th:href="@{/app/pages}">Статьи</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link text-primary" th:href="@{/app/about}">О нас</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
    <br>
    <div class="container">
		<form class="form">
			<div class="form-group">
				<label for="theme">Тема:</label>
				<select class="custom-select" id="theme">
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="form-group">
				<label for="key-words">Кл. слова:</label>
				<select class="custom-select" id="key-words" multiple>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="form-group">
				<label for="authors">Авторы:</label>
				<select class="custom-select" id="authors" multiple>
					<option value="0" id="default-ats">Все</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Поиск</button>
		</form>
		<br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Название</th>
                <th>Год</th>
                <th>Кл. слово</th>
                <th>Журнал</th>
                <th>Авторы</th>
                <th>Ссылка</th>
            </tr>
            </thead>
			<tbody>
				<tr>
					<td>Industry 4.0</td>
					<td>2014</td>
					<td>Industry 4.0</td>
					<td>Business & information …</td>
					<td>H Lasi, P Fettke, HG Kemper, T Feld</td>
					<td><a href="https://link.springer.com/content/pdf/10.1007/s12599-014-0334-4.pdf" target="_blank">Перейти</a></td>
				</tr>
			</tbody>
        </table>
    </div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</body>

</html>