<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Публикации</title>

<!--	<script th:src="@{/js/jquery-3.5.1.js}"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(function () {

			$('#keyWordsIDs').change(function () {

				var selected = $('#keyWordsIDs').val();
				var authorsControl = $('#authors');
				authorsControl.prop("disabled", true);
				console.log("Selected items: " + selected);
				var url = '/app/publications/authors?ids=' + selected;
				console.log("Sending request to: " + url);

				var xhttp =new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var html = "<option value='0' id='default-ats'>Все</option>";
						var authors = JSON.parse(xhttp.responseText);
						for (var i = 0; i < authors.length; i++) {
							html += "<option value='" + authors[i].id + "'>" + authors[i].name + "</option>";
						}
						authorsControl.html(html);
						console.log(xhttp.responseText);
					}
				};
				xhttp.open("GET", url, false);
				xhttp.send();

				authorsControl.prop("disabled", false);
			});

			$('#default-ats').click(function () {
				$('#authors option').prop("selected", false);
				$('#default-ats').prop("selected", true);
			})

		});
	</script>
</head>

<body>
<div class="container">
	<nav class="navbar navbar-expand-md navbar-light bg-light bg-dark">
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link text-primary" th:href="@{/app}">Главная<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary" href="#">Публикации</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary" th:href="@{/app/pages}">Статьи</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link text-primary" th:href="@{/app/about}">О нас</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
    <br>
    <div class="container">
		<form class="form" th:object="${requestDTO}" th:action="@{/app/publications}" method="post">
			<div class="form-group">
				<label for="themeId">Тема:</label>
				<select class="custom-select" id="themeId" th:field="*{themeID}" required>
					<option th:value="${theme.id}" th:text="${theme.nameWithTranslation()}" selected></option>
				</select>
			</div>
			<div class="form-group">
				<label for="keyWordsIDs">Кл. слова: (Зажмите CTRL чтобы выбрать несколько)</label>
				<select class="custom-select" id="keyWordsIDs" th:field="*{kwIDs}" multiple required>
					<option th:each="kw : ${keyWords}" th:value="${kw.id}" th:text="${kw.nameWithTranslation()}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="authors">Авторы: (Зажмите CTRL чтобы выбрать несколько)</label>
				<select class="custom-select" id="authors" th:field="*{athIDs}" multiple disabled required>
					<option value="-1">Выберите ключевые слова, чтобы увидеть авторов</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Поиск</button>
		</form>
		<br>
		<div class="container" th:if="${searchingKeyWords}">
			<p th:text="${'Найдено: ' + publications.size()}"></p>
			<p>По ключевым словам:</p>
			<ul>
				<li th:each="kw : ${searchingKeyWords}" th:text="${kw.nameWithTranslation()}"></li>
			</ul>
			<br>
			<p>По авторам:</p>
			<ul th:if="${searchingAuthors}">
				<li th:each="a, state : ${searchingAuthors}" th:text="${a.name}" th:if="${state.count <= 5}"></li>
				<li th:if="${searchingAuthors.size() > 5}">...</li>
			</ul>
			<br>
		</div>
        <table class="table table-bordered" style="font-size: 14px;">
            <thead>
            <tr>
				<td>№</td>
                <th>Название</th>
                <th>Год</th>
                <th>Журнал</th>
                <th>Авторы</th>
                <th>Ссылка</th>
            </tr>
            </thead>
			<tbody>
				<tr th:each="p, state : ${publications}">
					<td th:text="${state.count}"></td>
					<td th:text="${p.title}"></td>
					<td th:text="${p.year}"></td>
					<td th:text="${p.journal.name}"></td>
					<td th:text="${p.authorsSeparated()}"></td>
					<td><a th:href="${p.link}" th:text="Перейти" target="_blank"></a></td>
				</tr>
			</tbody>
        </table>
    </div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</body>

</html>